/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tag classes */
body{
    font-family: 'Open Sans', sans-serif;
}

header {

    height: 80px;
    line-height: 80px;
    min-width: 800px;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: black;
}


/* common classes */
.container-big{
    width: 80%;
    margin: 0 auto;
}

.container{
    width: 70%;
    margin: 0 auto;
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.text-white{
    color: white;
}

.big-headline{
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

.mr-30{
    margin-right: 30px;
}

.ml-30{
    margin-left: 30px;
}

.btn{
    padding: 0.2rem 1rem;
    border: 1px solid black;
}

.btn-blue{
    background-color: rgb(0, 97, 254);
    border: none;
}

/* header */
.logo-small img{
    vertical-align: text-bottom;
}

.list-top-nav li{
    display: inline;

}

/* main */

/* section jumbotron */
section.jumbotron{
    padding: 4rem 0;
    background-color: #b5d0e6;
}

div.jumbotron-text{
    width: 40%;

    height: 300px;
    border: 1px solid red;
}

div.jumbotron-img{
    width: 60%;

    height: 300px;
    border: 1px solid red;
}


